/**
 * Basic zachetka.com styles file
 */
.layout {
  margin: 0;
  padding: 0;
  font: normal 14px/1.5 'PT Sans', sans-serif;
}
.layout__header {
  height: 45px;
  position: relative;
  z-index: 2;
}
.layout__page {
  position: relative;
  z-index: 1;
}
.layout__footer {
  position: relative;
  z-index: 2;
}
.text-link {
  color: #fff;
}
.header {
  background: #000;
  -webkit-box-shadow: 0 2px 9px rgba(0,0,0,0.28);
  box-shadow: 0 2px 9px rgba(0,0,0,0.28);
}
.header__wrapper {
  width: 940px;
  margin: 0 auto;
  white-space: nowrap;
  font-size: 0;
}
.header__logo,
.header__nav,
.header__login,
.header__menu-item {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
}
.header__logo {
  margin: 0 25px 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.header__menu {
  margin: 0;
  padding: 0;
  list-style: none outside none;
  font-size: 0;
}
.header__menu-item {
  margin: 0 25px 0 0;
  padding: 0;
}
.header__menu-item:last-child {
  margin-right: 0;
}
.header__menu-link {
  font-size: 14px;
  color: #fff;
}
.header__login {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.page {
  background: #edf0f1;
}
.page__wrapper {
  width: 1000px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}
.footer {
  background: #404040;
  padding: 30px 0;
}
.footer__links {
  width: 940px;
  margin: 0 auto 30px;
  text-align: justify;
}
.footer__links:after {
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
  content: '';
}
.footer__menu {
  display: inline-block;
  vertical-align: top;
}
.footer__info {
  width: 940px;
  margin: 0 auto;
  padding: 20px 0 0;
  border-top: 1px solid #a9a9a9;
}
.footer__text {
  margin: 0;
  text-align: center;
  color: #fff;
}
.login__btn_pull_right {
  float: right;
}
.content {
  padding: 30px;
  background: #fff;
  height: 500px;
}
.secondary-menu__header {
  margin: 0 0 10px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.secondary-menu__nav {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
.secondary-menu__link {
  color: #fff;
}
