/**
 * Buttons
 */

.btn
  padding: 10px 35px
  font-size: 14px
  font-weight: 700
  color: #fff
  border: 0 none
  border-radius: 5px
  background: linear-gradient(top, #7ebbf4, #5f9cd5)
  outline: none
